

  {% extends "layout.html" %}
  {% block content %}
<h2 style="text-shadow:  8px 8px 8px rgb(240, 96, 52);color: rgb(240, 225, 26);">SPACE-An Introduction</h2>

<div class="myclass">Space begins where Earth's atmosphere ends.
   There was a time when space 
  was belived to be completely empty. However, this is not true.
  The vast gaps between the stars and the planets are filled with
  huge amounts of gases and dust.Even the emptiest parts of space
   contain at least a few hundred atoms or molecules per cubic metre.

  <div class="myclass1">
    <ul><li><h4><b>Space is Black </b></h4> </li></ul>
    
     Because space is a near-perfect vacuum — meaning
     it has exceedingly few particles — there's virtually
      nothing in the space between stars and planets to 
      scatter light to our eyes. And with no light reaching the eyes, 
      they see black.
    
      <ul><li><h4><b>How big is it?</b> </h4> </li></ul>
    No one really knows how big space is.Long distance
     in space are measured in "light-years",which 
     represents the distance that light takes to travel 
     in a year.This is roughly about 9.3 trillion km.
    
     <ul><li><h4><b>Marvels of space</h4></b> </li></ul>
    Besides vacuum,space consists of planets,stars,
    several hundred galaxies,matter,dust,gases and so on.
    Just like we have winds there are solar winds that occur in space.
    Let us look at all the amazing things that exist high up in the sky 
    that leave us awestruck every time we explore it.
 
  </div>
</div>
{% endblock %}

